{% extends "base.html" %}



{% block tilte %}
 Search user
{% endblock %}

{% block content %}
		<nav class="navbar navbar-expand-lg navbar-light bg-primary text-white border border-secondary">
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		          <span class="navbar-toggler-icon"></span>
		        </button>

		        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
		          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		            <li class="nav-item active">
		              <a class="nav-link text-white mr-3" href="{% url 'profile_page' %}"> <h3><strong>Daftar Project</strong></h3> <span class="sr-only">(current)</span></a>
		            </li>
		            {% if user.is_authenticated %}
		            <li class="nav-item">
		              <a class="nav-link text-white btn btn-outline-light ml-3" href="{% url 'profile_page' %}">Profile Page</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link text-white btn btn-outline-light ml-3" href="{% url 'search_user' %}">Search for users</a>
		            </li>
		            <li class="nav-item">
		              <a class="nav-link text-white btn btn-outline-light ml-3" href="...">Feed Page</a>
		            </li>
		            <li class="nav-item">
		            	<a class="nav-link text-white btn btn-primary ml-3">My UserName : {{user.username}}</a>
		            </li>
		            {% endif %}
		          </ul>
		        </div>
      	</nav>

	<nav class="navbar navbar-light bg-light">
	  <form class="form-inline" action="{% url 'search_user' %}" method="GET">
	    <div class="input-group">
	      <div class="input-group-prepend">
	        <span class="input-group-text" id="basic-addon1">@</span>
	      </div>
	      <input class="form-control mr-sm-2" type="search" placeholder="Username..." aria-label="Username" aria-describedby="basic-addon1" name="q"> 
	      <input class="btn btn-primary" type="submit" value="Search">
	    </div>
	    
	  </form>
	</nav>

	<div class="col-md-3 col-xl-3 mt-3">
		{% for profile in profiles %}
			{% ifnotequal profile.owner request.user %}
			<div class="card mt-3 border border-primary" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title">User Name : <a href="{% url 'user_profile' Profile_id=profile.id %}"> {{profile.owner.username}}</h5></a>
			    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
			    <p class="card-text">{{profile.bio}}</p>
			    <!-- <button class="btn btn-light" onclick="Follow({{profile.id}})">
			    	<span id="follow-count-{{profile.id}}">{{profile.follow_set.count}} </span><span> Followers</span>    
					<i id="follow-color-{{profile.id}}" class="fas fa-user {% if profile in follow_list %} text-primary {% endif %}"></i>
				</button><br> -->
			  </div>
			</div>
			{% endifnotequal %}
		{% endfor %}

	</div>
		

<script>
	function Follow(id){
		$.ajax({
			type:"GET",
			url: "/follow/"+id+"/",
			error:function(){
				console.log("Error something went wrong!")
			},
			success:function(data){
				console.log(data);
				$("#follow-count-"+id).text(data.count);
				if(data.action==="Following"){
					$("#follow-color-"+id).addClass("text-primary")
				}
				else{
					$("#follow-color-"+id).removeClass("text-primary")
				}
				
			}
		})
	}
</script>

{% endblock content %}






